# NuGet Packages 
*.nupkg
# Папку пакетов можно игнорировать из-за восстановления пакетов
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
.obsidian/
**/.vs/*
**/.idea/*
**/.vscode/*
**/obj/*
**/[bB]in/*
**/node_modules/*
**/lib/packages/*
**/ISOGD/packages/*
**/postgres-keycloak-data/*
**/postgres-crm-data/*
**/postgres-data/*
**/postgres-airflow-data/*
**/clickhouse-data/*
**/__pycache__/*
**/data/*
**.data/
**/bin/*
build/*
trunk/tmp/*
trunk/.tmp/*
trunk/install/*
install/*
trunk/env/build/tmp/.*
**/node_modules/*
**/Content/Output/*
**/Scripts/Output/*
**/Thumbs\*
**/Preprocessed\.iss$
**/Cache$
**/_ReSharper\*
**/setup\.exe$
**/ClientApp/dist/*
**/wwwroot/js/gis/leaflet-native
**/wwwroot/dist/*
*.csproj.user
*.sln.DotSettings.user
*.log
**/tools/Addins/Cake.*
**/.cake/home/*
**/.cake/tools/*

.DS_Store
*.dll
*.jar
*.exe
*.pdb
*.deps.json
*.tar
*.zip
*.rar

